/* Add these styles to your existing CSS */

/* General styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eed9c4;
}

/* nav bar */
.container {
    height: 80px;
    display: flex;
    white-space: nowrap;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.titleContainer {
    margin-top: 30px;
    margin-left: 30px;
}

.title {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.optionsContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 420px;
}

#about {
    text-decoration: none;
    color: black;
}

#contact, #projects, #qualifications {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.linkContainer {
    margin-top: 25px;
    margin-left: 445px;
}

.github {
    margin-left: 20px;
}

.aboutContainer {
    display: flex;
}

.textContainer {
    width: 50%;
    font-family: 'Times New Roman', serif;
}

/* index page */
.introduction {
    font-size: 40px;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 40px;
    font-style: italic;
}

.introExtra {
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 60px;
}

.text2 {
    margin-top: 10px;
}

.imageContainer {
    background-color: #eed9c4;
    width: 50%;
    height: 89.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    background-color: white;
}

.profilepic {
    height: 500px;
    border-radius: 30%;
}

.projectContainer {
    text-align: center;
}

/* project page */
.projectImg {
    height: 280px;
    border-radius: 20px;
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.project_container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.project_container .split {
    width: 50%;
    padding-top: 20px;
}

.project_container .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_container .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_container .centered {
    text-align: center;
}

.project_container img {
    height: 280px;
    margin-bottom: 35px;
}

#opposite {
    background-color: white;
}

@media (max-width: 768px) {
    .project_container {
        flex-direction: column;
    }
    
    .project_container .split {
        width: 100%;
    }
}

/* Resume page */
.resume_container {
    text-align: center;
    margin-top: 50px;
}

#resume {
    height: 800px;
    border-radius: 20px;
}

#qual_container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

#qual_container ul {
    list-style-position: inside;
    padding-left: 20px;
    text-align: left;
}

#qual_container li {
    text-align: left;
    margin-bottom: 10px;
}

.top-aligned {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .resume_container {
        flex-direction: column;
    }
    
    .resume_container .split {
        width: 100%;
    }
}

/* Contact Page */
.contactContainer {
    height: 90vh;
    width: 100%;
    background-color: #eed9c4;
}

.contactTitleContainer {
    justify-content: center;
    display: flex;
}

.contactTitle {
    font-size: 40px;
    font-style: italic;
    margin-top: 30px;
}

.myInfoImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-envelope {
    margin-top: 50px;
    margin-left: -20px;

}

.fa-phone {
    margin-top: 50px;
    margin-left: 200px;

}

.myInfo {
    display: flex;
    justify-content: center;
    align-items: center;

}

#phoneNum {
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

#myemail {
    margin-left: 80px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.contactTextContainer {
    background-color: white;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}

.name, .email, .message {
    margin-left: 20px;
    margin-top: 18px;
    font-weight: bold;
}


.nameText, .emailText {
    border: 2px solid gray;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    margin-top: 10px;
    margin-left: 13px;
}


#messageText {
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 13px;
    height: 125px;
    width: 200px;
    resize: none;
}

.submitButton {
    margin-top: 10px;
    margin-left: 103px;
}

.popup {
    visibility: hidden;  /* Hide popup by default */
    min-width: 150px;    /* Set a minimum width */
    background-color: #333; /* Dark background */
    color: #fff;         /* White text color */
    text-align: center;
    border-radius: 6px;  /* Rounded corners */
    padding: 8px 0;      /* Padding */
    position: fixed;     /* Fixed positioning */
    z-index: 1;          /* Sit on top of other content */
    left: 50%;           /* Center the popup horizontally */
    bottom: 20px;        /* Position at the bottom */
    transform: translateX(-50%); /* Center align the popup */
    opacity: 0;          /* Start fully transparent */
    transition: opacity 0.5s, visibility 0.5s; /* Transition for fading in/out */
}